:root {
    --cor-primaria:#055a05; 
    --cor-secundaria:#f4a261;
    --cor-destaque1:#264653;
    --cor-destaque2:#e9c46a;
    --fonte-titulo: "Times New Roman"; "Georgia", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
}

header {
    background-color: #2e8b57; 
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header img {
    max-height: 50px; 
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: bold;
}

#hero-section {
    padding: 2rem;
    background-color: white;
    text-align: center; 
}

#hero-section h2 {
    margin-bottom: 1rem;
    color: #333;
}

.enquadrada {
    display: block;
    max-width: 100%;     
    height: auto;        
    margin: 0 auto;    
    border: 5px solid #fff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /
}



figure {
    margin: 0;
    flex: 1 1 18%; 
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 0.9rem;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.redes-sociais {
    margin-bottom: 10px;
}

.redes-sociais a img {
    width: 30px; 
    margin: 0 10px;
}

.sobre-container {
    display: flex;         
    align-items: center;  
    gap: 30px;            
    padding: 20px;
}

.sobre-container p {
    flex: 1;               
}

.sobre-container img {
    width: 200px;         
}

#sobre-nos h1 {
    text-align: center;
    margin-bottom: 20px;
}

.endereço{
    display: block;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

header h1{
    text-align: center;
    margin-bottom: 20px
}

main {
    margin: 0 auto;
    max-width: 400px;
    background-color: #dadada;
    padding: 10px 30px 30px 30px;
}

form{
    display: grid;
    gap: 5px;
}

label{
    margin-top: 15px;
}

input, textarea, select, button{
    padding: 5px 10px;
}

button{
    margin-top: 15px;
    background-color: #3a3ab8;
    color: #fff;
}

.map iframe{
    display: block;
    margin-left: 0;
    margin-right: auto;
    
}
